<p id="notice"><%= notice %></p>

<h1>Bronies</h1>

<table>
  <thead>
    <tr>
      <th>Id ticket</th>
      <th>Number brony</th>
      <th>Time broby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bronies.each do |brony| %>
      <tr>
        <td><%= brony.id_ticket %></td>
        <td><%= brony.number_brony %></td>
        <td><%= brony.time_broby %></td>
        <td><%= link_to 'Show', brony %></td>
        <td><%= link_to 'Edit', edit_brony_path(brony) %></td>
        <td><%= link_to 'Destroy', brony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brony', new_brony_path %>
