<p id="notice"><%= notice %></p>

<p>
  <strong>Id ticket:</strong>
  <%= @brony.id_ticket %>
</p>

<p>
  <strong>Number brony:</strong>
  <%= @brony.number_brony %>
</p>

<p>
  <strong>Time broby:</strong>
  <%= @brony.time_broby %>
</p>

<%= link_to 'Edit', edit_brony_path(@brony) %> |
<%= link_to 'Back', bronies_path %>
